extends ../head
block content
    a(href="/addSubject" class="btn btn-success") Добавить дисциплину
    ul(class="list-group mt-3")
    each el in subjects
        li(class="list-group-item")
            a(href="/subject/" + el.id) #{el.name}