<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <h3>Электронные адреса</h3>
    <ul>
      <li>"a"</li>
      <li>"b"</li>
      <li>"c"</li>
    </ul>
    <p>Телефон: +71111111111</p>
  </body>
  <html></html>
</html>