app.get("/pugPractice", function(request, response)  {   
    response.render("pugPractice", {
        title: "Работа с шаблонизатором Pug"
    }); 
});
- var user = { description: 'foo bar baz' }
- var authorised = false
#user
  if user.description
    h2.green Description
    p.description= user.description
  else if authorised
    h2.blue Description
    p.description.
      User has no description,
      why not add one...
  else
    h2.red Description
    p.description User has no description

ul
  each val, index in ['zero', 'one', 'two']
    li= index + ': ' + val

- var friends = 10
case friends
  when 0
    p you have no friends
  when 1
    p you have a friend
  default
    p you have #{friends} friends