extends ../head
block content
    form(action="/addTeacherSubject" method="POST")
        select(name="subject_id")
            each el in subjects
                option(value=el.id) #{el.name}
        select(name="teacher_id")
            each el in teachers
                option(value=el.id) #{el.name}
        input(type="submit" value="Добавить")