extends ../head
block content
    a(href="/addTeacherSubject" class="btn btn-success") Добавить новую запись
    table(border="1" class="table table-bordered table-striped mt-3")
        thead(class="table-primary")
            tr
                th №
                th Дисциплина
                th Преподаватель
                th Действие
        tbody
            - var i = 1;
            each el in teacherSubject
                tr
                    td #{i}
                    td #{el.subject_name}
                    td #{el.teacher_name}
                    td
                        form(action="/deleteTeacherSubject/teacherId=" + el.teacher_id + "/subjectId=" + el.subject_id, method="POST")
                            input(type="submit" value="Удалить" class="btn btn-danger")
                - i++